{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-json-strings",
    "macros"
  ],
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs"}],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}

